# sSMTP aliases
#
# Format:	local_account:outgoing_address:mailhub
#
# Example: root:your_login@your.domain:mailhub.your.domain[:port]
# where [:port] is an optional port number that defaults to 25.
root:root-{{ inventory_hostname_short }}@{{ ansible_domain }}:{{ ssmtp_host }}:{{ ssmtp_port | default('587') }}
www-data:www-data-{{ inventory_hostname_short }}@{{ ansible_domain }}:{{ ssmtp_host }}:{{ ssmtp_port | default('587') }}
